# Ignoruj dane, ale zachowaj foldery
data/raw/*
data/processed/*
data/feedback/*

# Ignoruj sekrety i lokalną konfigurację Streamlit
.streamlit/secrets.toml

# Ignoruj lokalne pliki konfiguracyjne VS Code (opcjonalnie, ale dobra praktyka)
.vscode/